<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
        </timestamp>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <logLevel>
          <fieldName>level</fieldName>
        </logLevel>
        <message/>
        <arguments/>
        <stackTrace/>
        <context/>
        <mdc/>
      </providers>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>
</configuration>